<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Corporate and Legal Affairs</title>
    <!-- MDB icon -->
    <link rel="icon" href="img/sulogo.png"  width= 250px height= 49px type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="{% static "css/mdb.min.css" %}">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
 
  </head>

  <body>
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
          <img src="{% static "img/sulogo.png" %}" height="80" width="100" alt="SU logo">
          <a class="navbar-brand" href="#">CLA</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>          

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto smooth-scroll">
              <li class="nav-item">
                <a class="nav-link" href="#intro">Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about" data-offset="90">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services" data-offset="90">Services</a>
              </li>
              <!--li class="nav-item">
                <a class="nav-link" href="#testimonials" data-offset="30">Testimonials</a>
              </li-->
              <li class="nav-item">
                <a class="nav-link" href="#legaldocs" data-offset="90"> Document Review</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="http://kenyalaw.org/kl/" >Kenya Law</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact" data-offset="90">Contact</a>
              </li>
            </ul>
            <!-- Social Icon  -->
            <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item">
                <a target="_blank" href="https://www.facebook.com/StrathmoreUniversity/" class="nav-link" >
                  <i class="fab fa-facebook light-green-text-2"></i>
                </a>
              </li>
              <li class="nav-item">
                <a target="blank" href = "https://twitter.com/StrathU?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="nav-link">
                  <i class="fab fa-twitter light-green-text-2"></i>
                </a>
              </li>
              <li class="nav-item">
                <a target="blank" href="https://www.instagram.com/strathmore.university/" class="nav-link">
                  <i class="fab fa-instagram light-green-text-2"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="Accounts/login" class="nav-link">Log In</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar -->
      <!-- Full Page Intro -->
     
      <div id="intro-section" class="view">
        <video class="video-intro" poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline autoplay muted loop>
          <source src="https://mdbootstrap.com/img/video/animation.mp4" type="video/mp4">
        </video>
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
          <!-- Content -->
          <div class="container px-md-3 px-sm-0">
            <!--Grid row-->
            <div class="row wow fadeIn">
              <!--Grid column-->
              <div class="col-md-12 mb-4 white-text text-center wow fadeIn">
                <h3 class="display-3 font-weight-bold white-text mb-0 pt-md-5 pt-5">Strathmore Corporate and Legal Affairs</h3>
                <hr class="hr-light my-4 w-75">
                <h4 class="subtext-header mt-2 mb-4">Professional Legal Services</h4>

              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
          <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
      </div>
      <!-- Full Page Intro -->
    </header>
  
    <!--Main layout-->
    <main>
        
      <!--Section: about-->
      <section id="about" class="py-5">

        <!-- Container -->
        <div class="container">
          <!-- Section heading -->
          <h2 class="h1-responsive font-weight-bold text-center mb-5">About Us</h2>
          <!-- Section description -->
          <p class="lead grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet,
            consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad
            minim veniam.</p>

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-lg-5 text-center text-lg-left">
              <img class="img-fluid" src="{% static "img/law.jpg" %}" alt="Sample image">
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-7">

              <!-- Grid row -->
              <div class="row mb-3">

                <!-- Grid column -->
                <div class="col-1">
                  <i class="fa fa-mail-forward fa-lg purple-text"></i>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-xl-10 col-md-11 col-10">
                  <h5 class="font-weight-bold mb-3">Compliance</h5>
                  <p class="grey-text">Trust a data processor that provides the tools and customer support to help law firms meet their responsibilities as data controllers</p>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row mb-3">

                <!-- Grid column -->
                <div class="col-1">
                  <i class="fa fa-mail-forward fa-lg purple-text"></i>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-xl-10 col-md-11 col-10">
                  <h5 class="font-weight-bold mb-3">Exceptional Customer Service</h5>
                  <p class="grey-text">The only legal provider with 24 hours a day, 5 days a week award-winning support, including seamless migrations and personalised training.</p>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

              <!--Grid row-->
              <div class="row">

                <!-- Grid column -->
                <div class="col-1">
                  <i class="fa fa-mail-forward fa-lg purple-text"></i>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-xl-10 col-md-11 col-10">
                  <h5 class="font-weight-bold mb-3">Endorsed & Approved</h5>
                  <p class="grey-text mb-0">The only legal case management software endorsed and approved by both the Law Society Kenya</p>
                </div>
                <!-- Grid column -->

              </div>
              <!--Grid row-->

            </div>
            <!--Grid column-->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Container -->

      </section>
      <!--Section: about-->

      <!--Section: projects-->
      <section id="services" class="text-center py-5" style="background-color: #eee;">

        <!-- Container -->
<div class="container">

 <h2 class="h1-responsive font-weight-bold text-center mb-5">Our Services</h2>
<p>In this example we have added a "plus" sign to each button. When the user clicks on the button, the "plus" sign is replaced with a "minus" sign.</p>
<!-- Card deck -->
<div class="card-deck">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="{% static "img/deal.jpg" %}"
        alt="Advisory">
      <a href="C:\xampp1\htdocs\gift\casemgt\img\deal.jpg">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Advisory and Training</h4>
      <!--Text-->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-dribbble btn-md">Read more</button>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Corporate Affairs </h4>
      <!--Text-->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-dribbble btn-md">Read more</button>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="C:\Users\user\Desktop\giftdjango\giftdjango\static\img\corporate (2).jpg"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Dispute Resolution</h4>
      <!--Text-->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-dribbble btn-md">Read more</button>

    </div>

  </div>
  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Other Services</h4>
      <!--Text-->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-dribbble btn-md">Read more</button>

    </div>

  </div>
  <!-- Card -->

</div>
<!-- Card deck -->

</section>
      
      <!--Section: legal documents-->
      <section id="legaldocs" class="text-center py-5">

        <!-- Container -->
        <div class="container">

          <!-- Section heading -->
          <h2 class="h1-responsive font-weight-bold mb-5">Document Review</h2>

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

              <!-- Card Narrower -->
              <div class="card card-cascade narrower">

                <!-- Card image -->
                <div class="view view-cascade">
                  <img class="card-img-top" src="{% static "img/img1.jpeg" %}" alt="Card image cap">
                  <a>
                    <div class="mask img-gradient"></div>
                  </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade">

                  <!-- Label -->
                  <h5 class="pink-text pb-2 pt-1"><i class="fa fa-cutlery"></i>Contracts</h5>
                  <!-- Title -->
                  <h4 class="font-weight-bold card-title">Aligning of expectations on the project's priorities.</h4>
                  <!-- Text -->
                  <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam
                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
                  <!-- Button -->
                  <a class="btn btn-unique" target= "_blank"  href="{% static "docs/charter-2008.pdf" %}">View</a>

                </div>

              </div>
              <!-- Card Narrower -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

              <!-- Card Narrower -->
              <div class="card card-cascade narrower">

                <!-- Card image -->
                <div class="view view-cascade">
                  <img class="card-img-top" src="{% static "img/wiegh.jpg" %}" alt="Card image cap">
                  <a>
                    <div class="mask img-gradient"></div>
                  </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade">

                  <!-- Label -->
                  <h5 class="pink-text pb-2 pt-1"><i class="fa fa-cutlery"></i>University Documents</h5>
                  <!-- Title -->
                  <h4 class="font-weight-bold card-title">Codified statement of law</h4>
                  <!-- Text -->
                  <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam
                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
                  <!-- Button -->
                  <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View</button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" target= "_blank" href="{% static "docs/strathmore_statutes.pdf" %}">2013 Statutes</a>
                          <a class="dropdown-item" target= "_blank" href="{% static "docs/Strathmore_University_Statutes-2018.pdf" %}">2018 Statutes</a>
                          <a class="dropdown-item" target= "_blank" href="{% static "docs/Strathmore_University_Regulations_(2019).pdf" %}">Strathmore University Regulations</a>
                          <div class="dropdown-divider"></div>
                        </div>
                    <!-- Basic dropdown -->
                  <!--button class="btn btn-unique" href="statutes.html">View</!--button-->
                </div>

              </div>
              <!-- Card Narrower -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

              <!-- Card Narrower -->
              <div class="card card-cascade narrower">

                <!-- Card image -->
                <div class="view view-cascade">
                  <img class="card-img-top" src="{% static "img/books.jpg" %}" alt="Card image cap">
                  <a>
                    <div class="mask img-gradient"></div>
                  </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade">

                  <!-- Label -->
                  <h5 class="pink-text pb-2 pt-1"><i class="fa fa-cutlery"></i>Policies </h5>
                  <!-- Title -->
                  <h4 class="font-weight-bold card-title">Deliberate system of principles</h4>
                  <!-- Text -->
                  <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam
                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
                  <!-- Button -->
                  <a class="btn btn-unique" target= "_blank" href="{% static "docs/eduPolicy.pdf" %}">View</a>

                </div>

              </div>
              <!-- Card Narrower -->

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </div>
        <!-- Container -->

      </section>
      <!--Section: articles-->

      <!--Section: contact-->
      
      <section id="contact" class="py-5" style="background-color: #eee;">
     
        <div class="container">
          <!-- Section heading -->
          <h2 class="h1-responsive font-weight-bold text-center mb-5">Contact us</h2>
          <!-- Section description -->
          <p class="text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-9 mb-md-0 mb-5">

              <form method="POST" action="{% url 'feedback' %}">

                <!-- Grid row -->
                <div class="row">

                  <!-- Grid column -->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text" id="contact-name" name="contact-name" class="form-control">
                      <label for="contact-name" class>Your name</label>
                    </div>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text" id="contact-email" name="contact-email" class="form-control">
                      <label for="contact-email" class>Your email</label>
                    </div>
                  </div>
                  <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row">

                  <!-- Grid column -->
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <input type="text" id="contact-Subject" name="contact-Subject" class="form-control">
                      <label for="contact-Subject" class>Subject</label>
                    </div>
                  </div>
                  <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row">

                  <!-- Grid column -->
                  <div class="col-md-12">
                    <div class="md-form">
                      <textarea type="text" name="contact-message" id="contact-message" class="form-control md-textarea" rows="3"></textarea>
                      <label for="contact-message">Your message</label>
                    </div>
                  </div>
                  <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <div class="text-center text-md-left">
                  <input type="submit" value="Send" class="btn btn-purple btn-md">
                </div>
                {% csrf_token %}
              </form>

              

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 text-center">
              <ul class="list-unstyled mb-0">
                <li>
                  <i class="fa fa-map-marker fa-2x purple-text"></i>
                  <p>Ole Sangale Road, Madaraka</p>
                </li>
                <li>
                  <i class="fa fa-phone fa-2x mt-4 purple-text"></i>
                  <p>+254 703 034 414 / +254 703 034 000/200/300 or (+254) (0) 730-734000/200/300</p>
                </li>
                <li>
                  <i class="fa fa-envelope fa-2x mt-4 purple-text"></i>
                  <p class="mb-0">info@sbs.ac.ke</p>
                </li>
              </ul>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>

      </section>
      <!--Section: contact-->

    </main>
    <!--Main layout-->

    <!-- Footer -->
    <footer class="page-footer font-small pt-4">

      <!-- Footer Elements -->
      <div class="container">

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a target="_blank" href="https://www.facebook.com/StrathmoreUniversity/" class="btn-floating btn-fb mx-">
              <i class="fab fa-facebook"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="blank" href = "https://twitter.com/StrathU?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="blank" href="https://www.youtube.com/user/StrathmoreUniversity" class="btn-floating btn-gplus mx-1">
              <i class="fab fa-youtube"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="blank" href="https://www.linkedin.com/school/strathmore-university/"  class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="blank" href="https://www.instagram.com/strathmore.university/" class="btn-floating btn-li mx-1">
              <i class="fab fa-instagram"> </i>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->

      </div>
      <!-- Footer Elements -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">&#xA9; 2020 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/"> Strathmore Corporate and Legal Affairs</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <!-- Start your project here-->

    <!-- End your project here-->

    <!-- jQuery -->
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static "js/popper.min.js" %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static "js/mdb.min.js" %}"></script>
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript"></script>



    <script type="text/javascript">
      // MDB Lightbox Init
      $(function() {
        $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
      });

      // Adding animations to the sections
      $("section").addClass("wow fadeIn");

      // Animations Init
      new WOW().init();
    </script>
  </body>

</html>