<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/mdb.min.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <title>Login</title>
    </head>
    <body><!--Modal: Login / Register Form-->
        <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">
        
              <!--Modal cascading tabs-->
              <div class="modal-c-tabs">
        
                <!-- Nav tabs -->
                <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
                      Login</a>
                  
                  </li>
                  
                </ul>
        
                <!-- Tab panels -->
                <div class="tab-content">
                  <!--Panel 7-->
                  <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
        
                    <!--Body-->
                    <div class="modal-body mb-1">
                      <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="md-form form-sm mb-5">
                          <!--i class="fas fa-envelope prefix"></!i-->
                          <input name="email" type="email" id="modalLRInput10" class="form-control form-control-sm validate">
                          <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
                        </div>
        
                        <div class="md-form form-sm mb-4">
                          <!-- <i class="fas fa-lock prefix"></i> -->
                          <input name="password" type="password" id="modalLRInput11" class="form-control form-control-sm validate">
                          <label data-error="wrong" data-success="right" for="modalLRInput11">Your password</label>
                        </div>
                        <div class="text-center mt-2">
                          <button type="submit" class="btn btn-info">Log in <i class="fas fa-sign-in ml-1"></i></button>
                        </div>
                      </form>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                      <div class="options text-center text-md-right mt-1">
                        <p>Not a member? <a href="#" class="blue-text">Request Access</a></p>
                        <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                      </div>
                      <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                    </div>
        
                  </div>
                  <!--/.Panel 7-->
        
                  <!--Panel 8-->
                  <div class="tab-pane fade" id="panel8" role="tabpanel">
        
                    <!--Body-->
                    <div class="modal-body">
                      <div class="md-form form-sm mb-5">
                        <!-- <i class="fas fa-envelope prefix"></i> -->
                        <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                        <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
                      </div>
        
                      <div class="md-form form-sm mb-5">
                        <!-- <i class="fas fa-lock prefix"></i> -->
                        <input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
                        <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
                      </div>
        
                      <div class="md-form form-sm mb-4">
                        <!-- <i class="fas fa-lock prefix"></i> -->
                        <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                        <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat password</label>
                      </div>
        
                      <div class="text-center form-sm mt-2">
                        <button class="btn btn-info" >Sign up <i class="fas fa-sign-in ml-1"></i></button>
                      </div>
        
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                      <div class="options text-right">
                        <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                      </div>
                      <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  <!--/.Panel 8-->
                </div>
        
              </div>
            </div>
            <!--/.Content-->
          </div>
        </div>
        <!--Modal: Login / Register Form-->
        
                        <div class="text-center">
                          <a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm" >
                            LogIn</a>
                        </div>
                      </div>
        
    </body>
</html>